// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.height{
float: left;
width: 150px;
    
}


.labelLeft {
    text-align: left;
    /*font-weight:bold;*/
    vertical-align: top;
}

.box{
    
    margin: 30px;
}

td{
    
    padding: 10px;
}